@import url('http://fonts.cdnfonts.com/css/press-start-2p');

@font-face {
    font-family: 'Press Start 2P';
    src: url("fonts/PressStart2P.ttf");
    /* src for additional formats, as fallback for incompatible browsers */
    src: url('fonts/PressStart2P.ttf') format('truetype'),
            url( 'fonts/PressStart2P.eot' ) format( 'embedded-opentype' ),
            url( 'fonts/PressStart2P.ttf' ) format( 'truetype' ),
            url( 'fonts/PressStart2P.svg' ) format( 'svg' );
}

* {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: 'Press Start 2P';
}
#container:fullscreen {
	width: 100%;
	height: 100%;
	background-color: green;
}

/* prefix for Chrome & Safari */
body {
	position: absolute;
    width: 100%;
    height: 100%;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
	/* background-color: green; */
}